<template name="register">
  <section id="register">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="col-inner">
            {{>signupForm}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="heading heading-lg">
            <h1>be the first to know</h1>
            <div class="divider"></div>
          </div>
          <p>
            Register your interest now and we'll send you an email when we are ready to accept applications.
          </p>
        </div>
      </div> 
    </div> 
  </section>
</template>
